apiVersion: v1
kind: Service
metadata:
  name: paymentservice
spec:
  ports:
    - name: grpc
      port: 8081
      targetPort: 8081
    - name: http
      port: 8082
      targetPort: 8082
  selector:
    app: paymentservice